@use '../../styles/mixin.scss' as mixin;

.data {
  padding: 80px 0;
  display: flex;
  flex-direction: column;

  @include mixin.desktop {
    flex-direction: row;
  }

  &__boxLeft {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;

    @include mixin.desktop {
      width: 50%;
    }
  }

  &__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__boxRight {
    @include mixin.desktop {
      width: 50%;
      padding-left: 8%;
    }
  }

  &__title {
    font-size: 2.25rem;
    margin-bottom: 1.125rem;
  }

  &__text {
    color: #7A798A;
    font-size: .875rem;
    line-height: 1.375rem;
  }
}